body {
    height: 100vh;
    display: flex;
}

div.left-content {
    height: 100%;
    position: relative;
}

.company-name {
    position: absolute;
    top: 20%;
    color: white;
    text-align: center;
    text-shadow: 1px 5px 5px blue;
    width: 100%;
    font-size: 20vmin;
}

div.left-content>img {
    height: 100%;
    display: block;
    filter: brightness(80%);
}

.image-caption {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

div.right-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    /*background-color: #120a12;*/
    flex: 1;
}

form {
    background-color: yellow;
}